*{
    margin: 0;
}
.card{
    box-shadow: rgba(119, 99, 107, 0.76) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
 
    width: 50vw;
    height: 70vh;
    margin:100px  350px;
    background-image: url(img/firewatch-video-game-art-minimalism-simple-hd-wallpaper-preview\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    
}
p {
    margin-top: -40px;
    font-size: xx-large;
    padding: 15%;
    font-family: 'Sansita Swashed', cursive;
}

button {
    font-size: 30px;
    padding: 0.75em;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;

}
#yesBtn {
    transform: translate(-100%, 0);
}

.card, #noBtn {
    position: absolute;
    /*transform: translate(0%,-2%);*/
}
@media only screen and (max-width: 480px) {
    .card{

        width: 90vw;
        text-align: center;
        margin: 100px 20px;
    }
    p{
        margin-top: -30px;
    }
    button{
        margin-top: 15px;
    }
}